div {
    background-color: black;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    color: white;
    width: auto;
    height: fit-content;
    >div{
        height: auto;
    }
}

input,textarea{
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}