.panels {
    height: 100%;
    width: 100%;
}


$ancho: 30%;

app-sidenav{
   float: left;
    height: 100%;
    width: $ancho;
}

app-galeria{
    @extend app-sidenav;
    width: $ancho;
}

app-galeria{
    @extend app-sidenav;
    width: $ancho;
}

.panels app-sidenav {
    float: left;
    width: 200px; /* adjust width as needed */
  }

  .panels router-outlet {
    margin-left: 220px; /* adjust margin as needed */
  }