* {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

.panels {
    height: 100%;
    width: 100%;
}

$ancho: 30%;

app-sidenav {
    height: 100%;
    width: $ancho;
}

app-header {
    display: flex;
}