.fila {
  width: 100%;
}

.fila::after {
  content: "";
  display: table;
  clear: both;
}

.fila > div[class^=columna] {
  float: left;
  width: 100%;
}

.tooltip-bottom {
  bottom: 10px;
  width: 8.3333333333%;
}

.columna-1 {
  width: 8.3333333333%;
}

.columna-2 {
  width: 16.6666666667%;
}

.columna-3 {
  width: 25%;
}

.columna-4 {
  width: 33.3333333333%;
}

.columna-5 {
  width: 41.6666666667%;
}

.columna-6 {
  width: 50%;
}

.columna-7 {
  width: 58.3333333333%;
}

.columna-8 {
  width: 66.6666666667%;
}

.columna-9 {
  width: 75%;
}

.columna-10 {
  width: 83.3333333333%;
}

.columna-11 {
  width: 91.6666666667%;
}

.columna-12 {
  width: 100%;
}
